@import "variables";
@import "functions";
@import "mixins";

.button {
  border: none;
  border-radius: 16px;
  aspect-ratio: 1/ 1;

  font-family: $primary-font;
  font-size: fs(1);

  background-color: $numbers-color;
  @include btn-bg($numbers-color);

  svg {
    pointer-events: none;
  }

  &.ac {
    grid-column: 1 / 4;
    aspect-ratio: 3.1 / 1;
  }

  &.operator {
    @include btn-bg($operators-color);
  }

  &.equal {
    @include btn-bg($equal-color);
  }
}
