@import "variables";
@import "functions";

@mixin btn-bg($color) {
  background-color: $color;
  &:hover {
    cursor: pointer;
    background-color: darken($color, 3%);
  }

  &:active {
    background-color: darken($color, 5%);
  }
}

.button {
  border: none;
  border-radius: 16px;

  font-family: $primary-font;
  font-size: fs(1);

  background-color: $numbers-color;
  @include btn-bg($numbers-color);

  svg {
    pointer-events: none;
  }

  &.ac {
    grid-column: 1 / 4;
  }

  &.operator {
    @include btn-bg($operators-color);
  }

  &.equal {
    @include btn-bg($equal-color);
  }
}
