@import "variables";

.calculator {
  /* Properties to hide the history */
  position: relative;
  overflow: hidden;
  /* Properties to hide the history */

  display: grid;
  height: 100svh;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 1fr;
  background-color: $bg-color;
}
