@import "variables";
@import "mixins";

.calculator {
  @include grid($columns: 1fr, $rows: minmax(228px, 30%) 1fr);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100svh;
  background-color: $bg-color;
}
