@use "button";
@import "mixins";

.controls {
  @include grid(
    $columns: repeat(4, minmax(32px, 124px)),
    $rows: repeat(5, min-content),
    $justify: center,
    $align: center,
    $gap: 4px
  );
  padding: 24px;
}
