@use "button";

.controls {
  display: grid;
  align-self: center;
  justify-self: center;
  grid-template-columns: repeat(4, minmax(74px, 124px));
  grid-template-rows: auto;
  gap: 4px;
  padding: 24px;
}
