@import "variables";
@import "functions";
@import "mixins";

.history {
  /* Properties to show-hide the history modal*/
  position: absolute;
  top: 0%;
  &.open {
    left: 0%;
  }
  &.closed {
    left: 100%;
  }
  /* Properties to show-hide the history modal*/

  @include flexbox($direction: column);
  height: 100%;
  width: 100%;
  background-color: $bg-color;
  transition: left 0.25s linear;

  .header {
    @include flexbox($align: center, $gap: 16px);
    padding: 24px;
    border-radius: 0 0 16px 16px;
    background-color: $operators-color;
    font-size: fs(1);

    .back-icon,
    .trash-icon {
      @include icon;
    }

    .trash-icon {
      margin-left: auto;
    }
  }

  .list {
    list-style-type: none;
    font-size: fs(1);
    @include scrollbar;
    overflow-y: scroll;
    text-align: right;
    li {
      padding: 16px 24px;
      word-break: break-all;
      border-radius: 16px;
      color: change-color($font-color, $lightness: 50%);
      transition: background 0.15s;

      &:active,
      &:hover {
        background-color: $screen-color;
        cursor: pointer;
      }
      .result {
        display: block;
        color: $font-color;
      }
    }
  }
}

.history-icon {
  @include icon;
  position: absolute;
  top: 24px;
  left: 24px;
  font-size: fs(1);

  &:hover {
    cursor: pointer;
  }
}
