@import "variables";
@import "functions";

.screen {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%;
  gap: 16px;
  
  padding: 62px 24px 24px 24px;
  border-radius: 0 0 16px 16px;
  background-color: $screen-color;
  text-align: right;

  .expression {
    font-size: fs(1);
    letter-spacing: 2px;
    word-break: break-all;
    overflow-y: scroll;
  }

  .constant {
    font-size: fs(2);
    letter-spacing: 2px;
    overflow-x: scroll;
  }

  .evaluation {
    grid-row: span 2;
    font-size: fs(2);
    word-break: break-all;
  }

  .error {
    color: #da1e37;
    font-size: fs(2);
  }
}
